---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  <h2>Course Information</h2>
  {{ site.course-info }}
  <br>
  <h2>Instructors and TAs</h2>
  <div>
      <div>
      <img src="/assets/cogn_mode.png"
           width="100px" height="100px" style="float:left; margin-right:20px;">
      </div>
      <div>
          <h3>Zain Asgar</h3>
          <div>Office hours: Tuesday and Thursday 3:30-4:30PM</div>
      </div>
      <div style="clear:both"><br></div>
      <div>
      <img src="/assets/cogn_mode.png"
           width="100px" height="100px" style="float:left; margin-right:20px;">
      </div>
      <div>
          <h3>Keyi Zhang</h3>
          <div>Gates 356</div>
          <div>Office hours: Monday 4:00-6:00PM and Wednesday 5:00-6:00PM</div>
      </div>
      <div style="clear:both"><br></div>
  </div>
  <br>
  <h2>Course Schedule</h2>
  <table>
  {% for week in site.data.info %}
    <tr>
    <td style="min-width: 6em;"><h3> Week {{ forloop.index }} </h3></td>
    <td>
        <p><b>{{ week.day1 }}</b>
        <br>
        {{ week.day1-intro }}
        </p>
    </td>
    <tr>
    <tr>
    <td></td>
    <td>
        <p><b>{{ week.day2 }}</b>
        <br>
        {{ week.day2-intro }}
        </p>
    </td>
    </tr>
  {% endfor %}
  </table>
  <h2>Homework Assignments</h2>
  {% for hw in site.data.homework %}
  <h3>HW Assignment {{ forloop.index }}: {{ hw.name  }} </h3>
  <p> {{ hw.info }} </p>
  {% endfor %}
</div>
